body {
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.089);
}

h2 {
    font-size: 2em;
    color: maroon;
}

h3 {
    font-size: 1.5em;
    margin-left: 60px;
}

.regex {
    position: relative;
    margin-left: 60px;
    font-size: 1.2em;
}

h4 {
    font-size: 1.2em;
    color: maroon;
}

#str,
#reg {

    font-size: 1.2em;
}

.form-group {
    padding-top: 2em;
}

.form-group1 {
    padding-bottom: 1em;
}

.testes,
.replace {
    vertical-align: top;
    width: 400px;
    display: inline-block;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 2em;
}

.button {
    font-size: 1em;
    color: white;
    background-color: #008cff;
}

select {
    width: 350px;
    height: 54px;
}

.nav {
    font-size: 1.5em;
}

.intro {
    font-size: 1em;
    text-align: justify;
    margin-right: 30px;
    margin-left: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    font-size: 0.9em;
    color: #ffffff;
    text-align: center;
    margin: 0px;
}

.footer small {
    color: #ff0000;
}
.metodos{
    background-color: rgba(0, 0, 0, 0.158);
}

article{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}